<section class="w-full flex flex-col">
  <h1 class="w-full">Books</h1>
<% @books.each do |book| %>
  <div class="book">
    <h3 class="text-lg font-bold"><%= link_to book.title, book %></h3>
    <p class="">Author: <%= book.author %></p>
    <p class="">ISBN: <%= book.isbn %></p>
    <p class="">Status: <%= book.available? ? 'Available' : 'Borrowed' %></p>
  </div>
<% end %>
</section>